.about {
  margin: 4rem 0;
}
.about__container {
  margin: 4rem 0;
}
.about__item {
  text-align: center;
  padding: 2rem 0;
}
.about__icon {
  color: #fafafa;
  text-shadow: 0 0 .625rem #000;
}
.about__header {
  font-size: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
}
.about-captiion__header {
  color: #4b4b4b;
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.about-captiion__text {
  margin-bottom: 1.5rem;
  text-align: justify;
}