.card-block__container {
  display: block;
}
.card-block__header {
  padding: 1rem;
}
.slick-center .card-block__img-container {
  filter: grayscale(0);
  position: relative;
  transform: scale(1.2);
  transition: all 0.5s ease-in;
}
.card-block__img-container {
  background: #ccc;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  filter: grayscale(100%);
  height: 10rem;
  margin: 0 auto;
  width: 10rem;
}
.card-block__body {
  opacity: 0;
  margin-top: 5px;
}
.slick-center .card-block__body {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.card-block__position {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.card-block__name {
  text-align: center;
}
.ceo {
  background-image: url("/team/ceo.png");
}
.hr {
  background-image: url("/team/hr.png");
}
.sm {
  background-image: url("/team/sm.jpg");
}
.cm {
  background-image: url("/team/cm.png");
}
.android {
  background-image: url("/team/android.png");
}
.ios {
  background-image: url("/team/ios.jpg");
}
.front-end {
  background-image: url("/team/front.png");
}
.back-end {
  background-image: url("/team/back.png");
  background-size: 100%;
  background-position: center;
}
.designer {
  background-image: url("/team/designer.png");
}