.cl-effect-21 a {
  position: relative;
  padding: 10px;
  color: #237546;
  text-shadow: none;
  transition: color 0.3s;
}

.cl-effect-21 a::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000;
  content: '';
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(-10px);
}

.cl-effect-21 a::before {
  top: 0;
  transform: translateY(-10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
  color: #000;
}

.cl-effect-21 a:focus {
  font-weight: bold;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before {
  opacity: 1;
  transform: translateY(0px);
}

.navbar-light .navbar-toggler {
  border: none;
}