.footer .center-block {
  width: 270px;
  height: 158px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-top: 55px;
  margin: 0;
}
.tria-box-green {
  position: absolute!important;
  padding-top: 0;
  padding-bottom: 0;
  background: linear-gradient(to bottom,transparent 79px,#00a9b2 79px,#00a9b2 40%,#00a9b2 60%,#00a9b2 100%,transparent 100%);
}
.tria-box {
  z-index: 1;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-weight: 300;
  position: relative;
}
.tria-box:before {
  top: 0;
}
.tria-box:after,
.tria-box:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  background-size: 100% 100%;
}
.tria-box-green:before {
  height: 80px;
}
.tria-box-green:after,
.tria-box-green:before {
  background: url("/triangle-bg-green.svg") no-repeat;
}
.footer__list-item {
  text-align: center;
}
.footer__text {
  font-size: 15px;
  color: #555;
}
.footer__phone-container,
.footer__social-icons-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  width: 50%;
}
.footer__phone-container {
  float: left;
  padding-right: 10.875rem;
}
.footer__social-icons-container {
  float: right;
  padding-left: 10.875rem;
}
.footer__copywrite {
  bottom: 1rem;
  position: absolute;
  margin-left: -15px;
  text-align: center;
  width: 100%;
}
.footer-logo__caption {
  font-size: 2.5rem;
}
.footer__link {
  color: #555;
  display: block;
}
.footer__link:hover {
  color: #fff;
  transition: color 0.3s ease-in;
}
.footer__text:hover{
  color: #000
}
.footer__text-wrapper {
  width: 120px;
}
.content {
  margin: 0 100px;
}