.contacts .slick-slider {
  padding: 5rem 0;
  background: #f2f2f2
}

.slider-button {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  top: 0;
  transition: background .5s ease-out;
  position: absolute;
  width: 3rem;
  z-index: 2;
}
.slider-button:hover {
  background: rgba(204,204,204,0.3);
  transition: background .5s ease-in;
}
.slider-button-next {
  right: 0;
}
.slider-button-prev {
  left: 0;
}
