.modal-header {
  background: #00a9b2;
  border-bottom: 1px solid #999;
  color: #fff;
}
.modal-title {
  text-align: center;
  font: 100 2rem "Roboto", sans-serif;
  width: 100%;
}
.modal__caption {
  color: #fff;
  font-size: .8rem;
  text-align: center;
  width: 100%;
}
.modal__require {
  color: #f00;
}
.close {
  bottom: 1.438rem;
  opacity: 0.3;
}
.modal__submit {
  background: #00a9b2;
  color: #fff;
}
.modal__thanks{
  height: 500px;
  color: gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal__thanks p{
  font-size: 20px;
}
.close{
  cursor: pointer;
}