.how-order {
  background: #fcfcfc;
  color: #636363;
  padding: 75px 0 70px;
  text-align: center;
}
.how-order .title-3 {
  margin-bottom: 85px;
}
.title-3 {
  display: inline-block;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  line-height: 1.2;
}
.how-order__header--h4 {
  bottom: 0;
  font-size: 28px;
  color: rgba(72, 74, 74, 0.9);;
  font-weight: 500;
  margin-bottom: 75px;
  position: relative;
  transition: bottom .3s ease-out;
}
.how-order__header--h4:before {
  content: '';
  background: url("/seo-how-order-active.png") center center no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: -58px;
  margin: 0 0 0 -20px;
  opacity: 0;
  transition-duration: 0.4s;
  z-index: 2;
}
.how-order__header--h4:after {
  content: '';
  background: url("/seo-how-order.png") center center no-repeat;
  width: 39px;
  height: 41px;
  position: absolute;
  left: 50%;
  bottom: -58px;
  margin: 0 0 0 -20px;
  z-index: 1;
}
.how-order__text {
  font-size: 18px;
  color: #6b6b6b;
  height: 108px;
  line-height: 1.5em;
}
.how-order__text:after {
  background: #00a9b2;
  bottom: 161px;
  content: '';
  display: block;
  filter: blur(1px);
  height: 2px;
  position: absolute;
  width: 100%;
}
.how-order .col-12:hover > .how-order__header--h4 {
  transition: bottom .3s ease-in;
  bottom: 10px;
}
.how-order .col-12:hover > .how-order__header--h4:after {
  bottom: -68px;
  opacity: 0;
}
.how-order .col-12:hover > .how-order__header--h4:before {
  bottom: -68px;
  opacity: 1;
}
.button-blue-effect {
  display: inline-block;
  color: #fff !important;
  padding: 17px 25px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  text-align: center;
  font: 500 20px 'Roboto',sans-serif;
  background-color: #00a9b2;
  transition: background-color 0.5s,color 0.5s;
  position: relative;
}
