.header {
  position: relative;
  top: 0;
  left: 0;
}
.header-nav {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  transition: all .5s ease-in;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header .navbar {
  height: 100%;
  padding: 0;
}
.header-nav .nav-link {
  align-items: center;
  font-weight: normal;
  background: transparent;
  color: rgba(0, 0, 0, 0.9) !important;
  display: flex;
  height: 100%;
  margin: 0 1.5rem;
  padding-left: 0;
  padding-right: 0;
}
.header-nav--fixed {
  transition: all .5s ease-out;
  padding: 10px 0;
}
.header-nav__main-logo-image {
  height: 3.3rem;
  padding: 0;
  transition: all 0.5s ease-in;
  width: auto;
}
.header-nav__main-logo-image--small {
  height: 3rem;
  padding-left: 1rem;
  transition: height 0.5s ease-out;
}
.navbar-nav.cl-effect-21 .nav-item .nav-link {
  padding-left: 0;
  padding-right: 0;
}
.header-nav .nav-item--active .nav-link {
  border-bottom: 3px solid #000;
}
.header-nav a.nav-link.lang-link {
  padding: .5rem .75rem;
  margin: 0 .75rem;
}
.header-nav a.nav-link.lang-link.active {
  color: rgba(255, 255,255, 1) ;
  padding: .5rem .75rem;
  font-weight: 600;
}
.display-xs {
  display: none;
}