body {
  margin: 0;
  padding: 0;
  font: 400 16px "Roboto" sans-serif;
  overflow-x: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.no-padding {
  padding: 0 !important;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
@import url("header.css");
@import url("slider.css");
@import url("services.css");
@import url("media.css");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";