/* monitors and laptops */
@media screen and (min-width: 1240px)  {}

/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1240px)  {}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .how-order .how-order__header--h4 {
    font-size: 23px;
  }
  .how-order .how-order__text {
    font-size: 16px;
  }
  .footer .footer__phone-container,
  .footer .footer__social-icons-container {
    padding: 0;
    width: 35%;
  }
  .footer .center-block.tria-box{
    width: 220px;
    left: 50%
  }
  .projects .projects__phone {
    left: 1%;
  }
  .projects .project__caption {
    left: 50%;
  }
  .projects .iuic-life__phone {
    left: 7%;
  }
  .projects .iuic-life__caption {
    right: 7%;
  }
  .projects .iuic-chat__phone {
    right: -15%;
  }
  .projects .iuic-chat__caption {
    left: 10%;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-nav.lang-nav--collapse {
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid rgba(0,0,0, .2);
    padding-top: 1rem;
  }
  .hidden-xs {
    display: none;
  }
  .display-xs {
    display: block;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .header .header-nav {
    background: rgba(255, 255, 255, 0.9);
  }
  .header .header-top__phone-number,
  .header .header-top__social-icons {
    justify-content: center;
  }
  .header .header-nav__main-logo-image {
    height: 2rem;
  }
  .main .servises--custom-offset {
    margin-top: -60px;
  }
  .main .about,
  .about .about__container {
    margin: 2rem 0;
  }
  .about .about__container:first-child,
  .about .about__container > div {
    border: none;
  }
  .about .about-captiion__header {
    line-height: 2rem;
    text-align: justify;
  }
  .main .projects {
    padding: 2rem 0;
  }
  .hidden-xs {
    display: none;
  }
  .display-xs {
    display: block;
  }
  .navbar-nav.lang-nav--collapse {
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid rgba(0,0,0, .2);
    padding-top: 1rem;
  }
  .header-nav--fixed {
    padding: .5rem;
  }
  .main .projects {
    padding: 0;
  }
  .main .how-order {
    padding: 0 0 1rem 0;
  }
  .main .how-order .title-3 {
    font-size: 2rem;
    margin: 2rem 0;
  }
  .main .how-order__header--h4 {
    margin-bottom: 10px;
  }
  .main .how-order__header--h4:before,
  .main .how-order__header--h4:after,
  .main .how-order__text:after {
    display: none;
  }
  .footer {
    padding-bottom: 9rem;
  }
  .footer .center-block.tria-box {
    margin-bottom: -9rem;
  }
  .footer .footer__phone-container,
  .footer .footer__social-icons-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }
  .projects .projects__phone {
    left: -15%;
  }
  .projects .project__caption {
    left: 43%;
  }
}

@media screen and (max-width: 380px) {
  .footer .footer__phone-container,
  .footer .footer__social-icons-container {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
  }
}

/* iPad in portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {}

/* iPad in landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* iPad in portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}

/* Retina iPad in portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Retina iPad in landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {}

/* Retina iPad in portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {}

/* iPad 1 & 2 in portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1){}

/* iPad 1 & 2 in landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1)  {}

/* iPad 1 & 2 in portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPad mini in portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)  {}

/* iPad mini in landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1)  {}

/* iPad mini in portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1)  {}

/* iPhone 5 in portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .header .header-nav {
    background: rgba(255, 255, 255, 0.8);
  }
  .header .header-top__phone-number,
  .header .header-top__social-icons {
    justify-content: center;
  }
  .header .header-nav__main-logo-image {
    height: 2rem;
  }
  .main .servises--custom-offset {
    margin-top: -60px;
  }
  .main .about,
  .about .about__container {
    margin: 2rem 0;
  }
  .about .about__container:first-child,
  .about .about__container > div {
    border: none;
  }
  .about .about-captiion__header {
    line-height: 2rem;
    text-align: justify;
  }
}

/* iPhone 5 in landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {}

/* iPhone 5 in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {}

/* iPhone 2G-4S in portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}

/* iPhone 2G-4S in landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {}

/* iPhone 2G-4S in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {}