.preloader {
  align-items: center;
  background-color: rgb(85, 85, 85);
  bottom: 0;
  color: rgb(256, 256, 256);
  display: flex;
  font-size: 3rem;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
.preloader--hide {
  opacity: 0;
  transition: all 1s ease-out;
}