.projects {
  background: #cdcdcd;
  padding: 0;
}
.projects__img {
  height: auto;
  width: 100%;
}
.projects__item {
  height: 750px;
  position: relative;
}
.projects__phone {
  background: url("/rumor-phone-bg.png") no-repeat;
  background-size: cover;
  bottom: 0;
  height: 575px;
  position: absolute;
  left: 20%;
  width: 475px;
}
.iuic-chat__phone {
  background: url("/iuic-chat-phone-bg.png") no-repeat;
  background-size: cover;
  bottom: 0;
  height: 640px;
  position: absolute;
  right: 0;
  width: 640px;
}
.projects__photos {
  background: transparent;
  height: 330px;
  overflow: hidden;
  position: absolute;
  left: 225px;
  top: 57px;
  width: 180px;
}
.project__caption {
  bottom: 15%;
  height: 440px;
  position: absolute;
  left: 60%;
  width: 410px;
}
.caption__header {
  color: #CE2F2E;
  font: 100 4rem "Roboto", sans-serif;
  text-transform: uppercase;
}
.caption__text {
  color: #fff;
}
.caption__icons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.caption__link {
  display: inline-block;
  margin: 0 5px;
}
.rumor-bg {
  background: url("/rumor-bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
.iuic-chat-bg {
  background: url("/iuic-chat-bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
.projects__arrow {
  background-size: cover;
  height: 4rem;
  opacity: 0.3;
  transition: opacity .5s ease-out;
  width: 100%;
}
.projects__arrow--left {
  background: url("/arrow-left.png") no-repeat center center;
}
.projects__arrow--right {
  background: url("/arrow-right.png") no-repeat center center;
}
.projects .slider-button:hover {
  background: none;
}
.projects .slider-button:hover .projects__arrow {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.iuic-chat__caption {
  bottom: 15%;
  height: 440px;
  position: absolute;
  left: 20%;
  width: 410px;
}
.iuic-chat-caption__header {
  color: #ffbc81;
  font: 100 4rem "Roboto", sans-serif;
  text-transform: uppercase;
}
.iuic-chat-caption__text {
  color: #fff;
}
.iuic-chat__photos {
  background: transparent;
  height: 377px;
  overflow: hidden;
  position: absolute;
  left: 90px;
  top: 65px;
  width: 202px;
  transform: rotate(-23.5deg);
}
.iuic-life-bg {
  background: url("/iuic-life-bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
.iuic-life__phone {
  background: url("/iuic-life-phone-bg.png") no-repeat;
  background-size: cover;
  bottom: -80px;
  height: 700px;
  position: absolute;
  left: 15%;
  width: 450px;
}
.iuic-life__photos {
  background: #fff;
  height: 385px;
  overflow: hidden;
  position: absolute;
  left: 160px;
  top: 70px;
  transform: rotate3d(1,-1,1,-13deg);
  transform-style: preserve-3d;
  width: 205px;
}
.iuic-life__caption {
  bottom: 12%;
  height: 440px;
  position: absolute;
  right: 20%;
  width: 410px;
}
.iuic-life-caption__header {
  color: #03C4C3;
  font: 100 4rem "Roboto", sans-serif;
  text-transform: uppercase;
}
.iuic-life-caption__text {
  color: #fff;
}
.caption__wrapper {
  background: rgba(0, 0, 0, .15);
  padding: 2rem;
}
.google-play__icon,
.app-store__icon {
  height: auto;
  width: 160px;
}