.servises {
  background: #ededed;
  padding: 66px 0 44px 0;
}
.servises-mobile {
  background: #ededed;
  padding: 160px 0 8px 0;
}
.servises--custom-offset {
  margin-top: -110px;
}
.servises__figure {
  position: relative;
  overflow: hidden;
  background: #333;
  height: 400px;
  margin: 0;
}
.servises__figcaption {
  position: absolute;
  top: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  text-align: center;
}
.servises__item {
  background: #fff;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  position: relative;
  display: inline-block;
  width: 101%;
  margin-bottom: 22px;
  opacity: 1;
  transition: all .2s ease-in;
}
.servises__item-mobile {
  background: #fff;
  box-shadow: 3px 3px 5px 0 #afafaf;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 101%;
  margin-bottom: 22px;
  opacity: 1;
}
.servises__item:hover .servises__separator,
.servises__item:hover .servises__text {
  opacity: 0;
  margin-top: 0;
}
.servises__item:hover .servises__header {
  margin-top: -5px;
}
.servises__item:hover .servises__hidden-text {
  opacity: 1;
  transform: scale(1);
}
.servises__item:hover .servises__item--background {
  opacity: 0.4;
  transform: scale(1);
}
.servises__item--background {
  position: relative;
  display: block;
  width: 100%;
  height: 360px;
  margin: 44px 0 0 0;
  opacity: 1;
  transition: all .1s ease-in;
  background-clip: border-box;
  background-origin: padding-box;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.servises__item-mobile--background {
  position: relative;
  display: block;
  width: 100%;
  height: 360px;
  margin: 44px 0 0 0;
  opacity: 0.4;
  transition: all .1s ease-in;
  background-clip: border-box;
  background-origin: padding-box;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.servises__background--bg1 {
  background-image: url("/portfolio1.png")
}
.servises__background--bg2 {
  background-image: url("/portfolio2.png")
}
.servises__background--bg3 {
  background-image: url("/portfolio3.png")
}
.servises__background--bg4 {
  background-image: url("/portfolio4.png")
}
.servises__item--svg, .servises__item-mobile--svg {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 10;
  width: 101%;
  height: 101%;
}
.servises__item--svg-path, .servises__item-mobile--svg-path {
  fill: #fff;
}
.servises__separator {
  background-color: #00a9b2;
  height: 5px;
  width: 44px;
  margin: 44px auto 0 auto;
  transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
}
.servises__header {
  padding: 22px 22px 11px 22px;
  margin: 0;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  transition: all .2s ease-in;
  timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
  word-break: break-all;
}
.servises__text {
  color: #00a9b2;
  padding: 0 19px 11px 19px;
  transition: all .1s ease-in;
  timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
  transition-delay: 0s;
  transition-duration: 0.1s;
}
.servises__button-container {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
}
.servises__hidden-text {
  background: transparent;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin: 0 .5rem;
  padding: 11px 22px;
  transition: all .2s ease-in;
  transform: scale(0.25);
  text-align: center;
  opacity: 0;
}

.servises__mobile-text {
  background: transparent;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin: 0 .5rem;
  padding: 11px 22px;
  text-align: center;
  opacity: 1;
}
