.carousel.carousel-slider .control-arrow {
  z-index: 5 !important;
  width: 3rem;
}
.slider__item {
  filter: opacity(0.6);
  max-height: 100vh;
}
.bg1__animation,
.bg2__animation,
.bg3__animation,
.bg4__animation,
.bg5__animation {
  color: #fff;
  font: 400 2vw "Roboto", sans-serif;
  position: absolute;
  top: 0;
  left: 30%;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  width: 40%;
  z-index: 3;
}

.bg1__animation--first {
  font: 700 4vw "Roboto", sans-serif;
  opacity: 1;
  left: 0;
  text-align: center;
  top: 35%;
  position: absolute;
  z-index: 5;
  width: 100%;
}
.bg1__animation--second,
.bg2__animation--second,
.bg3__animation--second,
.bg4__animation--second,
.bg5__animation--second {
  top: 35%;
}
.bg1__animation--third,
.bg2__animation--third,
.bg3__animation--third,
.bg4__animation--third,
.bg5__animation--third {
  top: 40%;
}